name: "release"

on:
    push:
        branches:
            - main

jobs:
    release:
        name: release
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v2.1.1
            - name: node
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  registry-url: https://registry.npmjs.org
            - name: Set up Git user
              run: |
                git config --global user.name "github-actions[bot]"
                git config --global user.email "github-actions[bot]@users.noreply.github.com"
            - name: Install dependencies
              run: npm ci
            - name: Install Bun
              run: |
                curl -fsSL https://bun.sh/install | bash
                echo "export PATH=\"$HOME/.bun/bin:$PATH\"" >> $GITHUB_ENV
            - name: Install Bun
              run: |
                curl -fsSL https://bun.sh/install | bash
                export PATH="$HOME/.bun/bin:$PATH"
            - name: version bump
              run: |
                  npm version minor
            - name: publish
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}